{% extends "appbuilder/base.html" %}
{% block content %}
<div class="container-fluid" style="padding: 30px 40px;">
  <h2 class="titulo-pronostico">
    <i class="fa fa-magic" style="margin-right:10px; color:#4fd1c5;"></i>{{ titulo }}
  </h2>
  <p class="subtitulo-pronostico">Análisis predictivo generado por Inteligencia Artificial basado en los datos actuales de la clínica.</p>

  <div class="row" style="margin-top:25px;">
    {% for p in pronostico %}
    <div class="col-md-4">
      <div class="pronostico-card">
        <div class="pronostico-numero">{{ loop.index }}</div>
        <div class="pronostico-icono">
          <i class="fa {{ ['fa-chart-line','fa-lightbulb','fa-triangle-exclamation'][loop.index0 % 3] }}"></i>
        </div>
        <p class="pronostico-texto">{{ p }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}